###> COMMON ###
.idea
###< COMMON ###

###> FRONTEND ###
frontend/.idea
###< FRONTEND ###

###> PROVISIONONG ###
provisioning/hosts.yml
###< PROVISIONING ###

###> API ###
api/.idea
api/vendor
###< API ###
