all:
    children:
        manager:
            hosts:
                swarm-manager:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 127.0.0.1
                    ansible_port: 22
            vars:
                db_hostname: eventhub-prod-worker
        workers:
            hosts:
                swarm-worker-1:
                    ansible_connection: ssh
                    ansible_user: root
                    ansible_host: 127.0.0.1
                    ansible_port: 22
